<div class="container-fluid sub-header">
    <h1 id="contact" class="center txt-main"></h1>
</div>

<div class="container wrapper">
    <ul class="list-group">
        <a href="/assets/Resume.pdf" download="resume">
            <li class="list-group-item contact-link">
                <span>
                    <img class="contact-icon" src="/assets/jt.png" alt="">
                </span>
                <span class="contact-link-text">Download My Resume</span>
            </li>
        </a>
        <a href="mailto:jtak93@gmail.com" target="_top">
            <li class="list-group-item contact-link">
                <span>
                    <img class="contact-icon" src="/assets/email-icon.png" alt="">
                </span>
                <span class="contact-link-text">Email Me</span>
            </li>
        </a>
        <a href="https://github.com/jtak93">
            <li class="list-group-item contact-link">
                <span>
                    <img class="contact-icon" src="assets/GitHub-Mark.png" alt="">
                </span>
                <span class="contact-link-text">Check out my GitHub</span>
            </li>
        </a>
        <a href="https://linkedin.com/in/jamestak">
            <li class="list-group-item contact-link">
                <span>
                    <img class="contact-icon" src="/assets/LinkedIn-Icon.png" alt="">
                </span>
                <span class="contact-link-text">Connect with me on LinkedIn</span>
            </li>
        </a>
    </ul>
</div>

{{#section 'script'}}
<script src="/javascripts/contact.js"></script>
{{/section}}