<h1 class="center">Contact</h1>

<div class="container wrapper">
    <ul class="list-group">
        <li class="list-group-item contact-link">
            <span>
                <img src="http://via.placeholder.com/50x50" alt="">
            </span>
            <span class="contact-link-text">Download My Resume</span>
        </li>
        <li class="list-group-item contact-link">
            <span>
                <img src="http://via.placeholder.com/50x50" alt="">
            </span>
            <span class="contact-link-text">Email Me</span>
        </li>
        <li class="list-group-item contact-link">
            <span>
                <img src="http://via.placeholder.com/50x50" alt="">
            </span>
            <span class="contact-link-text">Check out my GitHub</span>
        </li>
        <li class="list-group-item contact-link">
            <span>
                <img src="http://via.placeholder.com/50x50" alt="">
            </span>
            <span class="contact-link-text">Connect with me on LinkedIn</span>
        </li>
    </ul>
</div>

{{#section 'script'}}
<script src="/javascripts/contact.js"></script>
{{/section}}