<div class="container-fluid sub-header">
    <h1 id="skills" class="center txt-main"></h1>
</div>

<div class="container half">
    <!-- Tab links -->
    <div class="tab">
        <button class="tablinks active" onclick="openTab(event, 'Languages')">Languages</button>
        <button class="tablinks" onclick="openTab(event, 'Frameworks')">Frameworks</button>
        <button class="tablinks" onclick="openTab(event, 'Miscellaneous')">Misc</button>
    </div>

    <!-- Tab content -->
    <div id="Languages" class="tabcontent bg-dark" style="display: block">
        <h3 class="stroke center">Programming Languages</h3>
        <ul>
            <li class="stroke">C/C++</li>
            <li class="stroke">Javascript</li>
            <li class="stroke">Golang</li>
            <li class="stroke">MATLAB</li>
            <li class="stroke">Ruby</li>
            <li class="stroke">HTML5</li>
            <li class="stroke">CSS3</li>
        </ul>
    </div>

    <div id="Frameworks" class="tabcontent bg-dark">
        <h3 class="stroke center">Frameworks</h3>
        <ul>
            <li class="stroke">React</li>
            <li class="stroke">Express</li>
            <li class="stroke">Angular 1.5</li>
        </ul>
    </div>

    <div id="Miscellaneous" class="tabcontent bg-dark">
        <h3 class="stroke center">Miscellaneous</h3>
        <ul>
            <li class="stroke">AWS S3 and EC2</li>
            <li class="stroke">MongoDB</li>
            <li class="stroke">MySQL</li>
            <li class="stroke">Heroku</li>
            <li class="stroke">Git</li>
            <li class="stroke">Github</li>
            <li class="stroke">Jira</li>
            <li class="stroke">Jira</li>
            <li class="stroke">MS Office</li>
        </ul>
    </div>
</div>

{{#section 'script'}}
<script src="/javascripts/skills.js"></script> 
{{/section}}