<h1 class="center">Skills</h1>

<div class="container half">
    <!-- Tab links -->
    <div class="tab">
        <button class="tablinks active" onclick="openTab(event, 'C')">C++</button>
        <button class="tablinks" onclick="openTab(event, 'Javascript')">Javascript</button>
        <button class="tablinks" onclick="openTab(event, 'General')">General</button>
    </div>

    <!-- Tab content -->
    <div id="C" class="tabcontent" style="display: block">
        <h3>C/C++</h3>
        <p>List C/C++ skills</p>
    </div>

    <div id="Javascript" class="tabcontent">
        <h3>Javascript</h3>
        <p>List javascript skills</p>
    </div>

    <div id="General" class="tabcontent">
        <h3>General</h3>
        <p>Put general tech skills (devops, git, etc)</p>
    </div>
</div>

{{#section 'script'}}
<script src="/javascripts/skills.js"></script> 
{{/section}}