<div class="container-fluid main-header">
    <h1 id="name" class="center txt-main"></h1>
    <h2 id="title" class="center txt-main"></h2>
</div>
<div class="jumbotron bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="/assets/James-Profile-Pic.jpg" alt="">
            </div>
            <div class="col-sm-8">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active h-300">
                            <img class="d-block" src="/assets/dawn-daylight-hill.jpg" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="stroke">Welcome!</h5>
                                <p class="stroke">My name is James Tak.</p>
                            </div>
                        </div>
                        <div class="carousel-item h-300">
                            <img class="d-block" src="assets/architecture-buildings-city.jpg" alt="Second slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="stroke">About Me</h5>
                                <p class="stroke">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima aperiam voluptas, omnis nostrum autem quo vero distinctio consectetur. Labore repellendus facere quasi fuga facilis atque aliquam officiis eum! Eos, placeat.</p>
                            </div>
                        </div>
                        <div class="carousel-item h-300">
                            <img class="d-block" src="/assets/aerial-view-beach-cars.jpg" alt="Third slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5 class="stroke">My Interests</h5>
                                <p class="stroke">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio, eius ullam. Culpa mollitia aliquam placeat sit, nisi dolore amet quae, at sequi delectus cupiditate libero hic labore, vero tempora deleniti.</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div> <!-- col-sm-8 -->
        </div> <!-- row -->
    </div> <!-- container -->
</div> <!-- jumbotron -->

{{#section 'script'}}
<script src="/javascripts/home.js"></script> 
{{/section}}