<div class="container-fluid sub-header">
    <h1 id="portfolio" class="center txt-main"></h1>
</div>

<div class="container scroll-container bg-light">
    <div class="row pd-bot-20 pd-top-20">
        <div class="offset-sm-2 col-sm-4">
            <div class="card sm-card">
                <img class="card-img-top" src="http://via.placeholder.com/100x100" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Project 1</h5>
                    <p class="card-text">Project 1 description</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card sm-card">
                <img class="card-img-top" src="http://via.placeholder.com/150x150" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Project 2</h5>
                    <p class="card-text">Project 2 description</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row pd-bot-20 pd-top-20">
        <div class="offset-sm-2 col-sm-4">
            <div class="card sm-card">
                <img class="card-img-top" src="http://via.placeholder.com/150x150" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Project 3</h5>
                    <p class="card-text">Project 3 description</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card sm-card">
                <img class="card-img-top" src="http://via.placeholder.com/150x150" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Project 4</h5>
                    <p class="card-text">Project 4 description</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row pd-bot-20 pd-top-20">
        <div class="offset-sm-2 col-sm-4">
            <div class="card sm-card">
                <img class="card-img-top" src="http://via.placeholder.com/150x150" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Project 5</h5>
                    <p class="card-text">Project 5 description</p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card sm-card">
                <img class="card-img-top" src="http://via.placeholder.com/150x150" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Project 6</h5>
                    <p class="card-text">Project 6 description</p>
                </div>
            </div>
        </div>
    </div>
</div>


{{#section 'script'}}
<script src="/javascripts/portfolio.js"></script>
{{/section}}